include *.in
include *.rst
include *.txt
include *.yml
include .coveragerc
include base.cfg
include bobtemplate.cfg
include buildout.cfg
include test_plone52.cfg
include test_plone60.cfg
recursive-include docs *.py
recursive-include docs *.rst
recursive-include src *.po
recursive-include src *.pot
recursive-include src *.pt
recursive-include src *.rst
recursive-include src *.sh
recursive-include src *.xml
recursive-include src *.zcml
